{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Supabase Demo

{% endblock %}


{% block content %}

    <section id="hero">
        <h1>Flask and Supabase Demo</h1>
    </section>

    <section id="things">

        {% for thing in things %}

            <article>

                <header>
                    <h4>{{ thing.name }}</h4>
                </header>

                <p>{{ thing.description }}</p>

                <footer>
                    <a href="/thing/{{ thing.id }}">More...</a>

                    <a href="/delete/{{ thing.id }}">Delete</a>
                </footer>

            </article>

        {% endfor %}

    </section>

    <section>
    
        <article>

            <form>

                <label>
                    Name
                    <input type="text" name="name">
                </label>

                <label>
                    Description
                    <input type="text" name="description">
                </label>

                <label>
                    Cost $
                    <input type="number" name="cost" min="0">
                </label>

                <label>
                    Rating
                    <input type="number" name="rating" min="0" max="5">
                </label>

                <button>Add new thing</button>

            </form>

        </article>

    </section>

{% endblock %}
