#hero {
    font-size: 4rem;
    padding: 0.5em;
    text-align: center;
    color: var(--pico-primary-inverse);
    background-color: var(--pico-primary-background);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#things {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#things article {
    width: 15rem;
    height: 15rem;
}

#things article p {
    min-height: 6.5rem;
}

#things article footer {
    display: flex;
    justify-content: space-between;
}